@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

$grey: #8F8FAB;
$grey-strong: #78849E;
$strong-pink: #FB4A6F;
$dark: #454F63;//#272D58;
$gray-ultraligth: #FDFDFD;
$light: #FBFBFC;

$text: $grey-strong;
$text-strong: $dark;

$family-sans-serif: "Montserrat", sans-serif;
$body-font-size: 14px;

$grey-dark: $grey-strong;
$grey-light: $grey;
$primary: $strong-pink;
$link: $strong-pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

//$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $gray-ultraligth;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/grid/_all.sass";

@import "../../../node_modules/firebaseui/dist/firebaseui.css";

.has-background-transparent {
  background-color: transparent;
  background-image: none;
}

.is-vertically-centered {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content p:not(:last-child) {
  margin-bottom: 1em;
}
